[Desktop Entry]
Version=1.0
Type=Application
Name=Mars 4.5
Comment=Mars 4.5
Icon=/home/lucas/Development/assembly/mars.png
Exec=java -jar Mars4-5.jar 
Path=/home/lucas/Development/assembly
Terminal=false
StartupNotify=false
Categories=Development;

