[Desktop Entry]
Version=1.0
Type=Application
Name=Mars 4.5
Comment=Mars 4.5
Icon=/home/lucas/Development/mars/mars.png
Exec=java -jar Mars4_5.jar 
Icon=java
Path=/home/lucas/Development/mars
Terminal=false
StartupNotify=false
Categories=Development;

